html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 748px;
	min-height: 434px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 66px;
	margin-left: auto;
	margin-right: auto;
}

#u139
{
	z-index: 2;
	width: 724px;
	position: relative;
	margin-right: -724px;
	margin-top: 19px;
	left: 10px;
}

#pu128-4
{
	width: 0.01px;
	position: relative;
	margin-right: -236px;
	margin-top: 2px;
}

#u128-4
{
	z-index: 53;
	margin-left: 2px;
	position: relative;
}

#u70
{
	z-index: 3;
	width: 236px;
	margin-top: 21px;
	position: relative;
}

#u124-7
{
	z-index: 57;
	width: 226px;
	min-height: 37px;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 1.4;
	margin-top: 35px;
	position: relative;
}

#pu135-4
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 26px;
	position: relative;
}

#u135-4
{
	z-index: 6;
	position: relative;
	width: 186px;
	margin-right: -186px;
	visibility: visible;
}

#u135-8
{
	z-index: 10;
	position: relative;
	width: 186px;
	margin-right: -186px;
	visibility: hidden;
}

#pu135-4:hover #u135-8
{
	visibility: visible;
}

#u135-12
{
	z-index: 14;
	position: relative;
	width: 186px;
	margin-right: -186px;
	visibility: hidden;
}

#pu136
{
	width: 0.01px;
	position: relative;
	margin-right: -237px;
	left: 246px;
}

#u136
{
	z-index: 64;
	width: 237px;
	position: relative;
}

#u80-4
{
	z-index: 67;
	position: relative;
}

#u75
{
	z-index: 65;
	width: 236px;
	margin-left: 1px;
	margin-top: 6px;
	position: relative;
}

#u86-4
{
	z-index: 71;
	margin-top: 3px;
	position: relative;
}

#u88
{
	z-index: 83;
	width: 236px;
	margin-top: 1px;
	position: relative;
}

#u99
{
	z-index: 85;
	width: 236px;
	margin-left: 1px;
	margin-top: 3px;
	position: relative;
}

#u87-4
{
	z-index: 75;
	margin-top: 3px;
	position: relative;
}

#u107-4
{
	z-index: 93;
	width: 226px;
	min-height: 37px;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 1.4;
	margin-left: 1px;
	margin-top: 8px;
	position: relative;
}

#u102
{
	z-index: 91;
	width: 236px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u113
{
	z-index: 87;
	width: 236px;
	margin-left: 1px;
	margin-top: 17px;
	position: relative;
}

#u112-4
{
	z-index: 79;
	margin-top: 3px;
	position: relative;
}

#u121-4
{
	z-index: 97;
	width: 226px;
	min-height: 37px;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 1.4;
	margin-left: 1px;
	margin-top: 8px;
	position: relative;
}

#u116
{
	z-index: 101;
	width: 236px;
	margin-top: 4px;
	position: relative;
}

#u131
{
	z-index: 89;
	width: 236px;
	margin-left: 1px;
	margin-top: 32px;
	position: relative;
}

#pu138-4
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: 4px;
	position: relative;
}

#u138-4
{
	z-index: 19;
	position: relative;
	width: 186px;
	margin-right: -186px;
	visibility: visible;
}

#u138-8
{
	z-index: 23;
	position: relative;
	width: 186px;
	margin-right: -186px;
	visibility: hidden;
}

#pu135-4:active #u135-12,#pu138-4:hover #u138-8
{
	visibility: visible;
}

#u138-12
{
	z-index: 27;
	position: relative;
	width: 186px;
	margin-right: -186px;
	visibility: hidden;
}

#pu135-4:hover #u135-4,#pu135-4:active #u135-8,#pu135-4:active #u135-4,#pu138-4:hover #u138-4,#pu138-4:active #u138-8,#pu138-4:active #u138-4
{
	visibility: hidden;
}

#pu138-4:active #u138-12
{
	visibility: visible;
}

#pu125-6
{
	width: 0.01px;
	position: relative;
	margin-right: -227px;
	left: 497px;
}

#u125-6
{
	z-index: 47;
	margin-left: 1px;
	position: relative;
}

#u128-4_img,#u135-4_img,#u135-8_img,#u135-12_img,#u80-4_img,#u86-4_img,#u87-4_img,#u112-4_img,#u138-4_img,#u138-8_img,#u138-12_img,#u125-6_img
{
	display: block;
	vertical-align: top;
}

#u122-4
{
	z-index: 31;
	width: 226px;
	min-height: 37px;
	font-size: 12px;
	color: #42410B;
	line-height: 1.4;
	margin-left: 1px;
	margin-top: 14px;
	position: relative;
}

#u140-5
{
	z-index: 35;
	width: 226px;
	min-height: 37px;
	line-height: 1.4;
	font-size: 12px;
	margin-left: 1px;
	margin-top: 245px;
	position: relative;
}

#u140-2
{
	color: #42410B;
}

#u140-3
{
	color: #FFFFFF;
}

#u130-7
{
	z-index: 40;
	width: 226px;
	min-height: 37px;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 1.4;
	margin-top: 5px;
	position: relative;
}

#u130-2
{
	color: #FBB03B;
}

#u130-3
{
	color: #F7931E;
}

#u151
{
	z-index: 103;
	width: 236px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -236px;
	margin-top: 151px;
	left: 502px;
}

#u151:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u151.MuseLinkActive
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	margin: 151px -236px 0px 0px;
}

#u70_img,#u75_img,#u88_img,#u99_img,#u102_img,#u113_img,#u116_img,#u131_img,#u151_img
{
	vertical-align: top;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

